---
title: Le Wagon - Teams
---
<br>
<div id="about">
  <div id="about-content">
    <div class="row">
      <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
      <ul class="list-inline text-center">
        <% ["thomasjoujou", "rduthel"].each do |gh_username| %>
          <li class="col-xs-3 col-xs-offset-2">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
            <h2><%= gh_username.capitalize %></h2>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
